__pycache__/
*.pyc
.env
venv/
*.pkl
node_modules/
dist/
.env.local
*.sqlite3
ml_training/data/raw/*.csv
ml_training/data/processed/*.npy
backend/prisma/__pycache__/
backend/prisma/*.py
backend/prisma/*.pyi