fastapi==0.110.3
uvicorn[standard]==0.29.0
python-multipart==0.0.9
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
slowapi==0.1.9
pydantic==2.7.1
email-validator==2.3.0
pydantic-settings==2.3.1
python-decouple==3.8
sentence-transformers==3.0.1
scikit-learn==1.5.0
numpy==1.26.4
pandas==2.2.2
shap==0.45.1
pdfminer.six==20231228
spacy==3.7.4
google-generativeai==0.7.2
prisma==0.13.1
joblib==1.4.2
pytest==8.2.2
pytest-asyncio==0.23.7